# Секретные файлы и ключи
.env
secret.key
users_data.db
users.db

# Временные файлы, кэш и артефакты отладки
debug.html
debug_schedule.html
__pycache__/
*.pyc

# Виртуальное окружение
.venv/
venv/

# Настройки среды разработки Visual Studio
.vs/